:host {
  height: 100%;
  width: 100%;

  header {
    height: 60px;
    max-height: 60px;
  }

  footer {
    height: 60px;
    max-height: 60px;
  }

  section.content {
    background: white;
  }
}
